<div class="container" @fade>
    <div class="timeLine">

        <!-- <ng-container *ngFor="let item of items">

        </ng-container> -->

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode"></div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <ngx-typed-writer class="mainColour tw" style="display: flex;" [isHTML]="true" [strings]="['What´s next?']" [loop]="false" [startDelay]="500" [showCursor]="true" [typeSpeed]="100"></ngx-typed-writer>
                    <svg width="2" height="50%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode"></div>
            </div>
        </div>
        
        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode"></div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon >work</mat-icon>
                        2024-JAN
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">Senior Full-stack Developer</mat-card-title>
                            <mat-card-subtitle>Netcompany A/S, 2024 - Present</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            With the new year; and my will do continue upwards in the company, I was promoted to Senior. 
                            <br><br>
                            With the Senior title; came more responsibility, and the opportunites to lead my own projects. The first one being an implementation of an existing system,
                            a translation software (RPC API) that manages input from an XML based system, translates and manages; and then sends onwards to a RPC API connected to a known CMS.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">Applied AI Professional</mat-card-title>
                            <mat-card-subtitle>IBM Academy</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            Curious and eager to maintain my AI knowledge; I took a three month course and certificate at IBM. This course heavily focused on 
                            implementation of chatbots and data-mining.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>book</mat-icon>
                        2024-MAR
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode"></div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>work</mat-icon>
                        2021-SEP
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">Full-stack Developer</mat-card-title>
                            <mat-card-subtitle>Netcompany A/S, 2021 - 2024</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            After receiving my M.Sc. I left Lund along with my prior work and education. Taking a new step into not only a new company, but to another country. 
                            Here in Denmark; my real career began, with all it's challenges and adventures.
                            <br><br>
                            At Netcompany, I quickly assumed the role of the full-stack developer, focusing on .NET development, mostly specialized in REST API systems.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">M.SC. Information Systems and AI</mat-card-title>
                            <mat-card-subtitle>Lund University, 2020 - 2021</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            After my B.Sc; my interest in AI and business development spiked; resulting in me applying for the M.Sc. in IS and applied AI. 
                            I was given the freedom to explore the possibilities of AI implementation in business development; and the ethical and practical dilemmas of that idea.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>book</mat-icon>
                        2020-AUG
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>work</mat-icon>
                        2019-OCT
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">IT-Administrator</mat-card-title>
                            <mat-card-subtitle>DocuSyd AB, 2019 - 2021</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            My B2B sales career didn't last too long; and I soon ended up at Docusyd, a Xerox partner. Due to my technical knowledge, and insight into modern IT systems, my role 
                            quickly expanded into that of the companies IT-Administrator; focused on maintaining our infrastructure; technical machine support and online-presence.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>work</mat-icon>
                        2018-OCT
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">B2B Sales Consultant</mat-card-title>
                            <mat-card-subtitle>Adsensus, 2018 - 2019</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            Though, in parallel; I needed additional stimuli, and got recruited into B2B sales; which was a fancy word for cold-caller and meeting scheduler.
                            Working at Adsensus was a very good experience, to nurish my skills in presentations and sales.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">B.Sc. Information Systems and Engineering</mat-card-title>
                            <mat-card-subtitle>Lund University, 2018 - 2020</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            After a year in the military; it was time to finish my Baschelors degree.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>book</mat-icon>
                        2018-AUG
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>work</mat-icon>
                        2017-JUL
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">Squad Leader, Recognizance, Air Defences</mat-card-title>
                            <mat-card-subtitle>Swedish Armed Forces S.A.F, 2017 - 2018</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            My Journey began by strengthening my self, physically as well as mentally, whilst dicovering what makes a good leader in harsh situations.  
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="color: black">B.Sc. Information Systems and Engineering</mat-card-title>
                            <mat-card-subtitle>Lund University, 2016 - 2017</mat-card-subtitle>
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content style="color: black">
                            Baschelors program in designing information systems, project management and systems engineering.
                            After the first year; I decided to take a break and gather some work experience.
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <div class="iconHolder">
                        <mat-icon>book</mat-icon>
                        2016-AUG
                    </div>
                    <svg width="2" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode">
                </div>
            </div>
        </div>

        <div class="timeLineLevel">
            <div class="leftSide">
                <div class="leftNode"></div>
            </div>
            <div class="center">
                <div class="centerNode">
                    <svg width="2" height="10%" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1" y1="0" x2="1" y2="100%" stroke="white" stroke-width="2"/>
                    </svg>
                    <mat-icon style="margin-top: 5px">access_time</mat-icon>
                </div>
            </div>
            <div class="rightSide">
                <div class="rightNode"></div>
            </div>
        </div>
        
    </div>
</div>