
<div class="container" @fade>
    <div class="projectContainer">
        <h1 class="mainFont">Edenmap</h1>
        <i>Created Sep 2025</i>
        <p>Another first - this time with an attempt of making a online-replica of the in-game map from the EVE Online universe.
            <br>
            Using THREE.js, together with a client-side, performance optimized 3D engine available both on Desktop and Mobile, this project turned out quite good as well.
            <br>The main functionality is to provide players of the game a tool similar to the existing DOTLAN solution, but with a more user-friendly, game-realistic UI.
        </p>
        <p>Find the live version here <a href="https://edenmap.ludvigaman.se" target="_blank">Projct Eden</a>! <br>
        </p>
        <img class="image" src="/assets/edenmap.png" alt="">
    </div>
    <div class="projectContainer">
        <h1 class="mainFont">MinVideo</h1>
        <i>Created May 2025</i>
        <p>My first time limited project; MinVid - a tube like video hosting platform built in Angular TS + .NET 9 in <b>12 hours</b>.
            <br>
            It's a video hosting platform such as youtube, except it's self hosted; private and built around extreme simplicity and ease of use.
        </p>
        <p>Read more about the project on the <a href="https://github.com/Ludvigaman/MinVid" target="_blank">Github</a>! <br>
        </p>
        <img class="image" src="https://private-user-images.githubusercontent.com/43440093/441639040-3abbef3e-467e-47ce-a4ae-5e8b3443c4b7.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDY4NzU2OTQsIm5iZiI6MTc0Njg3NTM5NCwicGF0aCI6Ii80MzQ0MDA5My80NDE2MzkwNDAtM2FiYmVmM2UtNDY3ZS00N2NlLWE0YWUtNWU4YjM0NDNjNGI3LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTA1MTAlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwNTEwVDExMDk1NFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPWY4NzBhMWU1MDU2MjA5N2I4Mjk4NzE1Zjg5YzdkNzAyMDVmMGM3YjIyZDAyOTJkNmE4OTVhMjgxZWQ1ZjhkMWYmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.RyTxFLbQRe1Bj2Dn-ftlGZDiLqcx1KAkm3VhEuk31qA" alt="">
    </div>
    <div class="projectContainer">
        <h1 class="mainFont">Upwell Structure Monitor</h1>
        <i>Created December 2024</i>
        <p>An online tool for monitoring in-game structures and fuel levels, used to plan the logsitcs in the game.
            <br>
            The application has a front-end built in Angular TypeScript, and a backend written in .NET 6. All data and tokens are stored client-side only.
        </p>
        <p>Read more about the project on the <a href="https://github.com/Ludvigaman/upwell-monitor" target="_blank">Github</a>! <br>
        </p>
        <img class="image" src="https://camo.githubusercontent.com/64b475c97666630a672f43bdc6ce9c57928382da0530e46b644d0781bd570b1f/68747470733a2f2f692e696d6775722e636f6d2f523848386a50462e706e67" alt="">
    </div>
    <div class="projectContainer">
        <h1 class="mainFont">Open Climber</h1>
        <i>Created spring 2023</i>
        <p>Browser based application for climbing centers to allow their users to track their progress in the gym; keep high-scores and rate walls in the center.
            <br>
            The application also has an administration interface that allows the owners of the center to add, remove and modify walls and their attributes.
            <br>
            The application has a front-end built in Angular TypeScript, database management using Entity Framework and MSSQL; and a backend written in .NET 6. 
        </p>
        <p>Read more about the project on the <a href="https://github.com/Ludvigaman/open-climber" target="_blank">Github</a>! <br>
        </p>
        <img class="image" src="/assets/climber_landing.png" alt="">
    </div>
</div>


