<ng-container>
    <div class="container" @fade>
        <div class="projectContainer">
            <h1 class="mainFont">Upwell Structure Monitor</h1>
            <i>Created December 2024</i>
            <p>An online tool for monitoring in-game structures and fuel levels, used to plan the logsitcs in the game.
                <br>
                The application has a front-end built in Angular TypeScript, and a backend written in .NET 6. All data and tokens are stored client-side only.
            </p>
            <p>Read more about the project on the <a href="https://github.com/Ludvigaman/upwell-monitor" target="_blank">Github</a>! <br>
            </p>
            <img style="max-width: 1000px;" src="https://camo.githubusercontent.com/64b475c97666630a672f43bdc6ce9c57928382da0530e46b644d0781bd570b1f/68747470733a2f2f692e696d6775722e636f6d2f523848386a50462e706e67" alt="">
        </div>
        <div class="projectContainer">
            <h1 class="mainFont">Open Climber</h1>
            <i>Created spring 2023</i>
            <p>Browser based application for climbing centers to allow their users to track their progress in the gym; keep high-scores and rate walls in the center.
                <br>
                The application also has an administration interface that allows the owners of the center to add, remove and modify walls and their attributes.
                <br>
                The application has a front-end built in Angular TypeScript, database management using Entity Framework and MSSQL; and a backend written in .NET 6. 
            </p>
            <p>Read more about the project on the <a href="https://github.com/Ludvigaman/open-climber" target="_blank">Github</a>! <br>
            </p>
            <img style="max-width: 1000px;" src="/assets/climber_landing.png" alt="">
        </div>
    </div>
</ng-container>

