<div class="container" @fade>
    <div class="treePane">
        <h1 class="mainFont">Development</h1>
        <div class="tree">
            
            Front-end
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Angular <br>
                            TypeScript <br>
                            JavaScript
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            HTML <br>
                            CSS
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
                <div class="treeItem">
                    <div class="content">
                        <div class="title">
                            Blazor <br>
                            React <br>
                            PHP
                        </div>
                    </div>
                    <div class="level">
                        2/5
                    </div>
                </div>
            </div>

            Back-end
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            .NET <br>
                            C#
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Entity Framework
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Java <br>
                            C <br>
                            Python
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            RESTful <br>
                            SOAP <br>
                            RPC
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
            </div>

            Databases
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            MSSQL
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem">
                    <div class="content">
                        <div class="title">
                            MySQL   <br>
                            PostGreSQL
                        </div>
                    </div>
                    <div class="level">
                        2/5
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="treePane">
        <h1 class="mainFont">Infrastructure</h1>
        <div class="tree">

            Windows
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            PowerShell<br>
                            DOS
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Sever
                            Management
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Active Directory <br>
                            IIS 
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
            </div>

            Linux
            <div class="treeLevel">
                <div class="treeItem">
                    <div class="content">
                        <div class="title">
                            Bash <br>
                        </div>
                    </div>
                    <div class="level">
                        2/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Server Management
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
            </div>

            Virtual
            <div class="treeLevel">
                <div class="treeItem">
                    <div class="content">
                        <div class="title">
                            Docker
                        </div>
                    </div>
                    <div class="level">
                        2/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Hyper-V
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            SharePoint
                            On-Prem
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            NextCloud <br>
                            OwnCloud
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="treePane">
        <h1 class="mainFont">Management</h1>
        <div class="tree">
            Social
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Project Management
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Customer Workshops
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Customer Relations
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem">
                    <div class="content">
                        <div class="title">
                            Employee Performance Development
                        </div>
                    </div>
                    <div class="level">
                        2/5
                    </div>
                </div>
            </div>

            Project
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Status reporting
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            GitHub <br>
                            GO Toolkit
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            CI/CD <br>
                            DevOps
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="treePane">
        <h1 class="mainFont">Architecture & Languages</h1>
        <div class="tree">
            Architecture
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            UML <br>
                            ERD
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            BPMN <br>
                            DMN
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
            </div>
            Languages
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Swedish
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            English
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Danish
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>