<div class="container" @fade>
    <div class="treePane">
        <h1 class="mainFont">Development</h1>
        <div class="tree">
            Front-end
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            .NET <br>
                            C#
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Entity Framework
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
            </div>

            Back-end
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            Angular <br>
                            TypeScript
                        </div>
                    </div>
                    <div class="level">
                        4/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            HTML <br>
                            CSS
                        </div>
                    </div>
                    <div class="level">
                        5/5
                    </div>
                </div>
            </div>

            Databases
            <div class="treeLevel">
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            MSSQL
                        </div>
                    </div>
                    <div class="level">
                        3/5
                    </div>
                </div>
                <div class="treeItem active">
                    <div class="content">
                        <div class="title">
                            MySQL   <br>
                            PostGreSQL
                        </div>
                    </div>
                    <div class="level">
                        2/5
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="treePane">
        <h1 class="mainFont">Infrastructure</h1>
        <div class="tree">
            
        </div>
    </div>
    <div class="treePane">
        <h1 class="mainFont">Management</h1>
        <div class="tree">
            
        </div>
    </div>
    <div class="treePane">
        <h1 class="mainFont">Architecture</h1>
        <div class="tree">
            
        </div>
    </div>
</div>