.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.routerHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}