<div class="container" @fade>
    <div style="margin-left: 20px;">
        <h1>
            <ngx-typed-writer class="mainColour tw" style="display: flex;" [isHTML]="true" [strings]="strings" [loop]="false" [startDelay]="500" [showCursor]="true" [typeSpeed]="100"></ngx-typed-writer>
        </h1>
    </div>
    <div class="paragraph">
        <p style="margin-left: 20px;">I'm an honest and ambitious developer with a fundamental interest for a technical career that brings challenges, triumphs and failures to my career and experience. <br><br>
            Strong social skills proven through high customer trust and satisfaction, and a trait of leaving my previous workplaces in a positive atmosphere. <br><br>
            IT & Engineering combined with social interactions are two of my main driving forces that I strive to embed into my career. I highly enjoy being challenged and forced to learn and adapt to new environments and software in order to find optimal solutions and gain experience. 
            <br><br>Thanks to my years of working with a full stack, I’m proficient in many programming languages and concepts; which further ensures a fast learning-curve if I encounter new systems or stacks.
    </div>
    <!-- <div class="buttonDiv">
        <a class="button">
            <label>Hobbies</label>
        </a>
    </div> -->
</div>
