<div class="container">
    <p style="color: grey">&lt;h1&gt;</p>
    <div style="margin-left: 20px;">
        <h1>Welcome,</h1>
        <div style="display: flex;">
            <h1>I'm </h1><h1 class="mainColour">&nbsp;Ludvig</h1>
        </div>
        <h1>
            <ngx-typed-writer class="mainColour tw" style="display: flex;" [isHTML]="true" [strings]="strings" [loop]="false" [startDelay]="500" [showCursor]="true" [typeSpeed]="100"></ngx-typed-writer>
        </h1>
    </div>
    <p style="color: grey">&lt;/h1&gt;</p>
    <div class="paragraph">
        <p style="color: grey">&lt;p&gt;</p>
        <p style="margin-left: 20px;">Whether you're a recruiter, customer or friend; welcome! <br>I hope you will find what you're looking for!</p>
        <p style="color: grey">&lt;/p&gt;</p>
    </div>
    <div class="paragraph">
        <p style="color: grey">&lt;contact&gt;</p>
        <a style="margin-left: 20px; margin-bottom: 12px; display: flex; align-items: center; text-decoration: none;" href="mailto:ludvig@aaman.se"><mat-icon class="mainColour">email</mat-icon>&nbsp;Let's talk?</a>
        <p style="color: grey">&lt;/contact&gt;</p>
    </div>
</div>
